$menu-bg: #111;
$menu-divider: #333;
$menu-hover: #555;
$menu-text: #fff;

@mixin menu-reset {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid $menu-divider;
}

#main-menu-container {
  background: $menu-bg;
  z-index: 9999;

  @include menu-reset;

  position: relative;
  width: 100%;
  padding-bottom: 2em;

  label {
    text-align: center;
    display: block;
    width: 100%;
    height: 1em;
    line-height: 1em;
    font-size: 2em;
    background: $menu-divider;
    color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    
    // text-indent: 9999px;

    &:hover {
      background: $menu-hover;
    }
  }

  input[type="checkbox"] {
    visibility: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
  }

  h2 {
    display: none;
    padding: 0;
    margin: 0;
    // @TODO: element-invisible
  }

  ul {
    @include menu-reset;
    max-height: 0px;
    overflow: hidden;

    li {
      @include menu-reset;

      a {
        display: block;
        color: $menu-text;
        padding: 1em;
        text-decoration: none;

        &:hover {
          background: $menu-hover;
        }
      }
    }
  }

  input[type="checkbox"]:checked ~ ul {
    max-height: 9999px;
  }
}
